@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Lab5</h2>
    <h3>Made by Voronov Danylo IPZ-31</h3>
    <h4>Variant 31</h4>
    <p>To access Lab1, Lab2, Lab3 you must sign up and then sign in</p>
    <p>After signing in you will be able to run Lab1, Lab2, Lab3</p>
</div>
