@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Lab6</h2>
    <h3>Made by Voronov Danylo IPZ-31</h3>
    <h4>Variant 31</h4>
    <p>To access app features please sign in</p>
</div>
